doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

    block title
      title Web Starter Template

    block meta

    link(rel="stylesheet" href="/core/scss/core.scss")

    block styles

  body
    block content

    script(type="module" src="/core/js/core.js")

    block scripts
