// Custom Reset
// Bootstrapのrebootで基本はカバーされているが、追加のリセット

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: $font-family-base;
  line-height: $line-height-base;
  color: $color-gray-900;
  background-color: $color-white;
}

img {
  max-width: 100%;
  height: auto;
}
